<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('nav') %>
    <div>
      <div>
        <% students.forEach(student => { %>
        <div style="border: 1px solid #ccc; margin: 10px; padding: 10px">
          <h3><%= student.name %></h3>
          <p>Age: <%= student.age %></p>
          <h4>Favourite Subjects:</h4>
          <ul style="list-style: none;">
            <% student.favouriteSubjects.forEach(sub => { %>
            <li><%= sub.subject %> (<%= sub.level %>)</li>
            <% }) %>
          </ul>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
